.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  width: 200px;
  flex: none;
  margin: 0 0 0 -10px;
}

.App-header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

