.App {
  text-align: center;
}

.App-logo {
  flex: none;
  margin: 0 0 0 -10px;
  pointer-events: none;
  width: 200px;
}

.App-header {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

